//light theme
$prim-clr-l: #BDCDD6;
$sec-clr-l: #6096B4;
$b-clr-l: #93BFCF;
$font-color-l: black;

//dark theme #A6BB8D
$prim-clr-d: #A6BB8D;
$sec-clr-d: #3C6255;
$font-clr-d: white;

//base styling
$size-sm: 4rem;
$size-md: 3rem;
$size-lg: 12rem;

$bdr-radius: 10px;
 
