@keyframes skew {
  0% {
    transform: skewX(20deg);
  }
  100% {
    transform: skewX(-20deg);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-50px);
    opacity: 0%;
  }
  100% {
    transform: translateX(0px);
    opacity: 100%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(30px);
    opacity: 0%;
  }
  60% {
    opacity: 100%;
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes growUp {
  0% {
    scale: 0%;
  }
  100% {
    scale: 100%;
  }
}
@keyframes rotateGrow {
  0% {
    transform: translateX(-500px) rotate(0deg);
  }
  100% {
    transform: translateX(0px) rotate(720deg);
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
html {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  border-radius: 10px;
  padding: 1em;
  border: 2px black solid;
  box-shadow: -3px 3px 5px black;
}

.light .text {
  color: #BDCDD6;
  text-shadow: 1px 1px 1px black;
}
.light .background {
  background: linear-gradient(-45deg, #93BFCF, #6096B4, #93BFCF, #6096B4);
  background-size: 900% 900%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  width: 100vw;
}
.light button {
  background-color: #3C6255;
  color: #A6BB8D;
}
.light .link {
  color: #BDCDD6;
  margin-left: 5px;
}
.light .link:hover {
  color: #A6BB8D;
}
.light .toggle {
  background-color: #3C6255;
}
.light .toggle:after {
  background: #A6BB8D;
}
.light .skills > * {
  margin-left: 5px;
  color: #BDCDD6;
  background-color: #6096B4;
  font-weight: bold;
}
.light .skills > *:hover {
  color: #A6BB8D;
}

.dark .text {
  color: #A6BB8D;
  text-shadow: 1px 1px 1px black;
}
.dark .background {
  background: linear-gradient(-45deg, #A6BB8D, #3C6255, #A6BB8D, #3C6255);
  background-size: 900% 900%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  width: 100vw;
}
.dark button {
  background-color: #6096B4;
  color: #BDCDD6;
}
.dark .link {
  color: #A6BB8D;
  margin-left: 5px;
}
.dark .link:hover {
  color: #BDCDD6;
}
.dark .toggle {
  background-color: #6096B4;
}
.dark .toggle:after {
  background: #BDCDD6;
}
.dark .skills > * {
  margin-left: 5px;
  color: #A6BB8D;
  background-color: #3C6255;
  font-weight: bold;
}
.dark .skills > *:hover {
  color: #BDCDD6;
}

@media only screen and (max-width: 1000px) {
  .mob-col {
    display: flex;
    flex-direction: column !important;
  }
  .skills > * {
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 0px 0px 2px black;
  }
  .skills {
    flex-wrap: wrap;
  }
  .pfp {
    height: 150px;
    width: 150px;
  }
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-col {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.centered-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: 900;
  font-size: 3rem;
  text-shadow: 0px 2px 5px black;
  animation: slideIn 2s ease-in-out;
}

.toggle {
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
  width: 50px;
  height: 25px;
  display: block;
  border-radius: 100px;
}
.toggle:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 18px;
  border-radius: 90px;
  transition: 0.3s;
}

.check {
  position: absolute;
  left: -9999px;
  top: 10px;
  height: 25px;
  width: 50px;
  display: none;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

input[type=checkbox]:checked + .toggle:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.toggle:active:after {
  transform: translateX(300%);
}

.full {
  width: 100%;
  height: 100%;
}

.fadeIn-3 {
  animation: fadeIn 3s ease-in-out;
}

.slideUp {
  animation: slideUp 3s ease;
}

.margin-top-btm-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.font-md {
  font-size: 3rem;
}

.anim-text {
  background: linear-gradient(to right, #A6BB8D 20%, #A6BB8D 30%, #3C6255 70%, #6096B4 80%);
  margin-top: 0px;
  padding-top: 5px;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent !important;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate, slideUp 1s ease-in-out;
}

.growUp {
  animation: growUp 2.5s ease;
}

.btm-rgt {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pfp {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  box-shadow: 0px 0px 8px black;
}

.pad-all-5 > * {
  margin: 15px;
}

.rotateGrow {
  animation: rotateGrow 2s ease-in-out;
}

.skills {
  margin-top: 10px;
}

.skills > * {
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: 0px 0px 2px black;
}/*# sourceMappingURL=App.css.map */